.cls2,.cls3,.cls4 {
  stroke-miterlimit: 10;
}

.cls2,.cls3 {
  stroke-width: 0.51px;
}

.cls4 {
  stroke-width: 0.5px;
}

// .boxAnimation {
//   animation: increse 1s forwards;
// }

// .boxAnimationReverse {
//   animation: decrease 1s forwards;
// }

// @keyframes increse {
//   0% {
//     transform: translateY(0px);
//   }

//   100% {
//     transform: translateY(-10px);
//   }
// }

// @keyframes decrease {
//   0% {
//     transform: translateY(-10px);
//   }

//   100% {
//     transform: translateY(0px);
//   }
// }
