@import '../../assets/styles/index.scss';

@mixin rectangle($gradient, $direction) {
    width: 25%;
    background: linear-gradient(to $direction, $gradient);
}

._separatorMain {
  display: flex;
  flex-direction: row;
  width: 100%;
}

._rentangleOne {
   @include rectangle($orangeGradient, left);
   border-radius: 4px 0px 0px 4px;
}

._rentangleTwo {
  @include rectangle($darkPurpleGradient, left);
}

._rentangleThree {
  @include rectangle($blueGradient, left);
}

._rentangleFour {
  @include rectangle($greenGradient, left);
  border-radius: 0px 4px 4px 0px;
}