@import '../../assets/styles/index.scss';

@mixin rectangle($gradient, $direction) {
    width: 25%;
    height: 6px;
    background: linear-gradient(to $direction, $gradient);
}

._separatorMain {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: red;
}

._rentangleOne {
   @include rectangle($greenGradient, left);
}

._rentangleTwo {
  @include rectangle($blueGradient, left);
}

._rentangleThree {
  @include rectangle($darkPurpleGradient, left);
}

._rentangleFour {
  @include rectangle($orangeGradient, left);
}