/* FIRTS SECTION */

@import '../../assets/styles/index.scss';


._parentSendSection {
  width: 100%;
  display: flex;
  height: 100vh;
}

._parentSendSectionBodyLeft {
  background-color: $whiteSmoke;
  width: 56%;
  opacity: 0;
  transform: translateX(40px);
}

._sonofson {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

._sendContentChild {
  width: 70%;
  // background-color: blue;
}

._exchangeInstantly {

  opacity: 0;
  transform: translateY(15px);

  & p {
    font-size: 3.4rem;
    margin-bottom: -1.3rem !important;
  }
}

._parentSendSectionBodyRight {
  background-color:$blackOnboard;
  width: 47%;
  opacity: 0;
  transform: translateX(40px);
}

._sendRightTitle {
  margin-top: 4rem;
  color: $lightBLue;
  opacity: 0;
  transform: translateY(5px);
}

._emailNewsletterSend {

  opacity: 0;
  transform: translateY(20px);
 
  & p {
    color: $appleGreen;
    font-size: 0.9rem;
    margin-top: 2.5rem;
  }
} 

._inputNewsletterSend {
  width: 75%;
  padding: 1rem 0.7rem;
  border: none;
  border-radius: 10px;
  outline: none;
  -webkit-box-shadow: -15px 13px 25px -14px $appleGreen;
  -moz-box-shadow: -15px 13px 25px -14px $appleGreen;
  box-shadow: -15px 13px 25px -14px $appleGreen;
  
  &::placeholder {
    color: $darkGray;
  }
  
}

._sendRightSideItems {
  width: 80%;
}

._macBookChangeTheme {
  margin-left: -35%;
  transform: translateX(300px);
  opacity: 0;
}

._switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

._switch ._changeThemeCheckbox {
  opacity: 0;
  width: 0;
  height: 0;
}

._slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  -webkit-transition: .4s;
  transition: .4s;
}

._slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

._changeThemeCheckbox:checked + ._slider {
  background-color: $white;
}

._changeThemeCheckbox:focus + ._slider {
  box-shadow: 0 0 1px $white;
}

._changeThemeCheckbox:checked + ._slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

._slider._round {
  border-radius: 34px;
}

._slider._round:before {
  border-radius: 50%;
}

._switchThemeParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-left: -10%;
  transform: translateX(100px);
  opacity: 0;
  margin-bottom: 1rem;
}

._OnOffToggle {
  color: $white;
  margin-top: -0.4rem;
  margin-right: 0.7rem;
}

._currencyCardsRow {
  // background-color: blue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateY(100px);
}

._sonofson {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

._themeSwitch {
  transition: 3s;
}

@mixin background($name) {
  position: absolute;
  top: 4%;
  left: 7.5%;
  width: 85%;
  height: 85%;
  background-image: url('../../assets/img/dashboard-#{$name}.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.6s;
}

@keyframes switch{
  from {opacity: 0}
  to {opacity: 1}
}

._darkThemeLaptop {
  @include background('dark');
}

._lightThemeLaptop {
  @include background('light');
}

._arrowIconSendEmail {
  position: absolute;
  right: 27%;
  top: -37px;
  font-size: 1.3rem;
  color:$gray;
  cursor: pointer;
}