
@import '../../assets/styles/index.scss';

@mixin floating ($transformY, $time) {
  transform: translatey($transformY);
  animation: MoveUpDownCoins $time alternate infinite;
}
._phoneBox{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10%;
  position: relative;
}

._phoneDimension{
  width: 500px;
  height: 300px;
  margin-right: 5%;
}

._usdBox{
  @include floating (10px, 1s);
  display: flex;
  justify-content: flex-end;
  margin-bottom: -80px;
}


._btcDiamond{
  @include floating (10px, 1s);
  position: absolute;
  right: 10px;
  bottom: 170px;
  width: 200px;
  opacity: 0;
}

._turqueseDiamond{
  @include floating (10px, 1s);
  position: absolute;
  right: 220px;
  bottom: 270px;
  opacity: 0;
}

._turquesetinyDiamond{
  @include floating (10px, 1s);
  position: absolute;
  right: 400px;
  bottom: 150px;
  opacity: 0;
}

._blackDiamond{
  @include floating (10px, 1s);
  position: absolute;
  right: 125px;
  bottom: 70px;
  opacity: 0;
}

._usdDiamond{
  @include floating (10px, 1s);
  position: absolute;
  right: 330px;
  bottom: 210px;
  opacity: 0;
}

._tiny{
  @include floating (5px, 1s);
  position: absolute;
  right: 200px;
  bottom: 20px;
  opacity: 0;
}

._tinyDimensions{
  width: 60px;
}

._littleDimensions{
  width: 90px;
}

._mediumDimensions{
  width: 120px;
}

._bigDimensions{
  width: 180px;
}

._turquesetinyDiamondDimensions{
  width: 40px;
}

._usdDiamondDimensions{
  width: 100px;
}

._turqueseDiamond{
  width: 60px;
}

._blackDiamondDimensions{
  width: 80px;
}


._little{
  @include floating (5px, 1s);
  position: absolute;
  right: 250px;
  bottom: 20px;
  opacity: 0;
}

._medium{
  @include floating (5px, 1s);
  position: absolute;
  right: 280px;
  bottom: 30px;
  opacity: 0;
}

._big{
  @include floating (5px, 1s);
  position: absolute;
  right: 450px;
  bottom: 0px;
  opacity: 0;
}

@keyframes MoveUpDownCoins {
  from { transform: translateY(0px)}
  to { transform:translateY(50 px)}
}

._pixelLogoBox{
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}


@include responsive(medium) {

  ._phoneDimension{
    width: 400px;
  }
  ._btcDiamond{
    width: 150px;
  }
  ._turqueseDiamond{
    width: 40px;
    bottom: 270px !important;
    right: 170px;
  }
  ._turquesetinyDiamondDimensions{
    width: 30px;
  }
  ._turquesetinyDiamond{
    right: 310px;
    bottom: 180px !important;
  }
  ._tiny{
    right: 150px;
    bottom: 150px !important;
  }
  ._tinyDimensions{
    width: 40px;
  }
  ._littleDimensions{
    width: 60px;
  }
  ._little{
    right: 190px;
    bottom: 180px !important;
  }
  ._mediumDimensions{
    width: 90px;
  }
  ._medium{
    right: 230px;
    bottom:  70px !important;
  }
  ._bigDimensions{
    width: 150px;
  }
  ._big{
    right:350px;
    bottom: 60px !important;
  }
  .__usdDiamondDimensions{
    width: 80px;
  }

  ._usdDiamond{
    right: 240px;
    bottom: 220px !important;
  }

  ._phoneBox {
    justify-content: center;
  }
  ._phoneDimension {
    width: 80%;
  }
}


@include responsive(small) {
   
  ._medium{
    display: none;
  }
  
  ._big{
    display: none;
  }


  }

