
@import '../../assets/styles/index.scss';

@mixin floating ($transformY, $time) {
  transform: translatey($transformY);
  animation: MoveUpDownCoins $time alternate infinite;
}
._phoneBox{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10%;
}

._phoneDimension{
  width: 500px;
  height: 300px;
  margin-right: 5%;
}

._usdBox{
  @include floating (10px, 1s);
  display: flex;
  justify-content: flex-end;
  margin-bottom: -80px;
}


._btcDiamond{
  @include floating (10px, 1s);
  position: absolute;
  right: 10px;
  margin-bottom: 170px;
  width: 200px;
  opacity: 0;
}

._turqueseDiamond{
  @include floating (10px, 1s);
  position: absolute;
  right: 220px;
  margin-bottom: 270px;
  opacity: 0;
}

._turquesetinyDiamond{
  @include floating (10px, 1s);
  position: absolute;
  right: 400px;
  margin-bottom: 150px;
  opacity: 0;
}

._blackDiamond{
  @include floating (10px, 1s);
  position: absolute;
  right: 125px;
  margin-bottom: 70px;
  opacity: 0;
}

._usdDiamond{
  @include floating (10px, 1s);
  position: absolute;
  right: 330px;
  margin-bottom: 210px;
  opacity: 0;
}

._tiny{
  @include floating (5px, 1s);
  position: absolute;
  right: 200px;
  margin-bottom: 100px;
  opacity: 0;
}

._little{
  @include floating (5px, 1s);
  position: absolute;
  right: 250px;
  margin-bottom: 160px;
  opacity: 0;
}

._medium{
  @include floating (5px, 1s);
  position: absolute;
  right: 280px;
  margin-bottom: 30px;
  opacity: 0;
}

._big{
  @include floating (5px, 1s);
  position: absolute;
  right: 450px;
  margin-bottom: 0px;
  opacity: 0;
}

@keyframes MoveUpDownCoins {
  from { transform: translateY(0px)}
  to { transform:translateY(50 px)}
}

._pixelLogoBox{
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}


@include responsive(extralarge) {

  
}

@include responsive(large) {

  
}
