@import '../../../../assets/styles/index.scss';

@mixin noneDisplay {
  display: none;
}

._box {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  opacity:0;
  transform: translateY(60px);
}

._box1 {
  width: 240px;
  height: 340px;
  bottom: -60px;
  left: -70px;
}

._box1Children {
  margin-top: 60px;
}

._box3 {
  width: 160px;
  height: 240px;
  bottom: 45%;
  left: -60px;
}

._box4 {
  width: 120px;
  height: 190px;
  bottom: 30%;
  left: 100px;
}


._box7 {
  margin-left: 32px;

}

._box8 {
  margin-left: 24px;

}

._box12 {
  margin-top: 83px;
}

._diamond {
  position: absolute;
}

@include responsive(large) {
  ._lastSection {
    @include noneDisplay;
  }
 

  ._box3{
    height: 180px;
    width: 120px;
  }
 
}

@include responsive(medium) {
  ._middleSection {
    @include noneDisplay;
  }

  ._box {
    @include noneDisplay;
  }
}

@include responsive(small) {
  ._box1 {
    width: 200px;
    height: 250px;
  }

  ._box2 {
    width: 110px; 
    height: 160px; 
    bottom: 26%; 
    left: -41px;
  }
  
  ._box3 {
    width: 150px; 
    height: 200px;
    bottom: 50%;
    left: 50px;
  }
  
  ._box4 {
    width: 140px; 
    height: 190px; 
    bottom: 23%; 
    left: 200px
  }
  
  ._box5 {
    display: none;
  }

  ._box {
    overflow: visible;
  }
}

@include responsive(extrasmall) {
  ._box1 {
    width: 180px;
    height: 220px;
  }

  ._box2 {
    width: 110px; 
    height: 160px; 
    bottom: 26%; 
    left: -41px;
  }
  
  ._box3 {
    width: 150px; 
    height: 200px;
    bottom: 45%;
    left: 50px;
  }
  
  ._box4 {
    width: 140px; 
    height: 190px; 
    bottom: 20%; 
    left: 160px;

  }
  
}


