._box {
  position: absolute;
  overflow: hidden;
}

._box1 {
  margin-top: 60px;
}

._box5 {
  margin-top: 100px;
}

._box7 {
  margin-left: 32px;
}

._box8 {
  margin-left: 24px;
}

._box12 {
  margin-top: 83px;
}

._diamond {
  position: absolute;
}

