@import '../../../../assets/styles/index.scss';

@mixin noneDisplay {
  display: none;
}

._box {
  position: absolute;
  overflow: hidden;
}

._box1 {
  width: 290px;
  height: 340px; 
  bottom: 0px; 
  left: 10px
}

._box1Children {
  margin-top: 60px;
}

._box2 {
  width: 110px; 
  height: 160px; 
  bottom: 38.425%; 
  left: -41px
}

._box3 {
  width: 190px; 
  height: 240px;
  bottom: 53%;
  left: 92px;
}

._box4 {
  width: 140px; 
  height: 190px; 
  bottom: 26.5%; 
  left: 300px
}

._box5 {
  width: 210px; 
  height: 260px; 
  bottom: 0px; 
  left: 340px
}

._box5Children {
  margin-top: 100px;
}

._box7 {
  margin-left: 32px;
}

._box8 {
  margin-left: 24px;
}

._box12 {
  margin-top: 83px;
}

._diamond {
  position: absolute;
}

@include responsive(large) {
  ._lastSection {
    @include noneDisplay;
  }
}

@include responsive(medium) {
  ._middleSection {
    @include noneDisplay;
  }
}

@include responsive(small) {
  ._box1 {
    width: 200px;
    height: 250px;
  }

  ._box2 {
    width: 110px; 
    height: 160px; 
    bottom: 26%; 
    left: -41px;
  }
  
  ._box3 {
    width: 150px; 
    height: 200px;
    bottom: 50%;
    left: 50px;
  }
  
  ._box4 {
    width: 140px; 
    height: 190px; 
    bottom: 23%; 
    left: 200px
  }
  
  ._box5 {
    display: none;
  }

  ._box {
    overflow: visible;
  }
}

@include responsive(extrasmall) {
  ._box1 {
    width: 180px;
    height: 220px;
  }

  ._box2 {
    width: 110px; 
    height: 160px; 
    bottom: 26%; 
    left: -41px;
  }
  
  ._box3 {
    width: 150px; 
    height: 200px;
    bottom: 45%;
    left: 50px;
  }
  
  ._box4 {
    width: 140px; 
    height: 190px; 
    bottom: 20%; 
    left: 160px;
  }
}
