@import '../../../../assets/styles/index.scss';

@mixin noneDisplay {
  display: none;
}

._boxLogin {
  position: absolute;
  overflow: hidden;
}

._box1Login {
  width: 290px;
  height: 340px; 
  bottom: 0px; 
  left: 10px
}

._box1LoginChildren {
  margin-top: 60px;
}

._box2Login {
  width: 110px; 
  height: 160px; 
  bottom: 38.425%; 
  left: -41px
}

._box3Login {
  width: 190px; 
  height: 240px;
  bottom: 53%;
  left: 92px;
}

._box4Login {
  width: 120px;
  height: 190px;
  bottom: 23%;
  left: 180px;
}

._box5Login {
  width: 180px; 
  height: 300px; 
  bottom: 50px; 
  left: 340px
}

._box5LoginChildren {
  margin-top: 100px;
}

._box7Login {
  margin-left: 32px;
}

._box8Login {
  margin-left: 24px;
}

._box12Login {
  margin-top: 83px;
}

._diamondLogin {
  position: absolute;
}

@include responsive(large) {
  ._lastSectionLogin {
    @include noneDisplay;
  }
}

@include responsive(medium) {
  ._middleSectionLogin {
    @include noneDisplay;
  }
}

@include responsive(small) {
  ._box1Login {
    width: 200px;
    height: 250px;
  }

  ._box2Login {
    width: 110px; 
    height: 160px; 
    bottom: 26%; 
    left: -41px;
  }
  
  ._box3Login {
    width: 150px; 
    height: 200px;
    bottom: 50%;
    left: 50px;
  }
  
  ._box4Login {
    width: 140px; 
    height: 190px; 
    bottom: 23%; 
    left: 200px
  }
  
  ._box5Login {
    display: none;
  }

  ._boxLogin {
    overflow: visible;
  }
}

@include responsive(extrasmall) {
  ._box1Login {
    width: 180px;
    height: 220px;
  }

  ._box2Login {
    width: 110px; 
    height: 160px; 
    bottom: 26%; 
    left: -41px;
  }
  
  ._box3Login {
    width: 150px; 
    height: 200px;
    bottom: 45%;
    left: 50px;
  }
  
  ._box4Login {
    width: 140px; 
    height: 190px; 
    bottom: 20%; 
    left: 160px;
  }
}
