@import '../../assets/styles/index.scss';

@mixin square($background, $color, $radius, $cursor) {
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $muli;
  font-size: 0.8rem;
  border-radius: $radius;
  background-color: $background;
  color: $color;
  cursor: $cursor;
}

._lang {
 @include square(none, $black, none, default);

}

._help {
  @include square($black, $white, 3px, pointer);
}

._parent {
  display: flex;
  flex-direction: row;
  width: 110px;
}

._langText {
  border-bottom: 1px solid $black;
  font-weight: 600;
  cursor: pointer;
}