@import '../../assets/styles/index.scss';
@mixin parentO {
  // background-color: #212121;
  width: 100%;
  display: flex;
  justify-content: center;
}
@mixin phoneO {
/*  margin-right: 45px; */
  margin-left: auto;
  width: 60%;
  position: relative;
}

._productParentO {
  @include parentO;
  padding-top: 5rem;
}

._productGeneralO {
  // background-color: blue;
  width: 85%;
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
}

._productLeftO {
  // background-color: purple;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

._productRightO {
  // background-color: orange;
  width: 50%;
  position: relative;
}

._phoneContainerO {
  @include phoneO();
  margin-right: 55px;
}


._pixLeftDescriptionO {
  // background-color:red;
  width: 55%;
  margin-top: 5rem;
  transform: translateY(30px);

    & h5 {
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-family: $muli;
      font-weight: 800;
      font-size: 1.1rem;
      text-align: center;
   }
}

._paragraphInstant{
  margin: 1rem 0px 10px;
  text-align: left;
  font-family: $muli;
  font-size: 1.2rem;
  transition: 1s;
  -webkit-transition:1s;
  -moz-transition:1s;
  -o-transition:1s;
  color: $newGray;
  width: 85%;
  font-weight: 800;
}

._separatorInstant{
 width: 0%;

}


._orangePixContainer{
  position: relative;
  left: 50%;
  width: 100%;
  height: 250px;
  margin-top: 3rem;
  opacity: 0;
  transform: translateY(50px);
}

._usdtFloatingIcon{
  position: absolute;
  width: 25%;
  right: 25px;
  top: 5px;
  transform: scale(0);
}

._usdrectangle{
  position: absolute;
  width: 80%;
  left: -50px;
  top: 23.5%;
  transform: scale(0);
}

._ethrectangle{
  position: absolute;
  width: 80%;
  right: -100px;
  top: 50%;
  transform: scale(0);
}

._usdcFloatingIcon{
  position: absolute;
  width: 25%;
  top: 60%;
  left: -10px;
  transform: scale(0);
}

._eurFloatingIcon{
  position: absolute;
  width: 30%;
  right: -70px;
  top: 80%;
  transform: scale(0);
}

._dashFloatingIcon{
  position: absolute;
  width: 25%;
  right: -25px;
  top: 36%;
  transform: scale(0);
}

@include responsive(extraLarge) {
  ._phoneContainerO{
    width: 70%;
  }

  ._orangePixContainer{
    left: 60%;
    width: 100%;
  }
  
}



@include responsive(large) {
  ._phoneContainerO{
    width: 80%;
  }

  ._orangePixContainer{
    left: 50%;
    width: 100%;
    margin-top: 20px;

  }

  
  ._paragraphInstant{
    font-size: 1.1rem ;
  }
 
}


@include responsive(medium) {

  ._productLeftO{
    width: 100%;
  }
  ._productRightO{
    width: 100%;
    margin-top: 5%;
  }

  ._orangePixContainer{
    display: none;
  }
  ._paragraphProductO{
    text-align: center;
  }
  ._paragraphInstant{
    text-align: center;
    margin: 10px 20px 10px;
  }

  ._phoneContainerO{
    width: 50%;
    margin-right: auto;
  }

  ._productParentO{
    padding-top: 0;
  }

} 

