@import '../../assets/styles/index.scss';

@mixin parent {
  // background-color: #212121;
  width: 100%;
  display: flex;
  justify-content: center;
}

@mixin phone {
  margin-left: auto;
  width: 60%;
  position: relative;
}

._productParent {
  @include parent;
  padding-top: 5rem;
}
._productGeneral {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
}

._productLeft {
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

._productRight {
  width: 50%;
  position: relative;
}

._phoneContainer {
  @include phone();
  margin-right: 55px;
}

._centerSquare {
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateY(30px);
}

._wallPix {
  color: $newBlack;
  text-align: left;
  font-family: $muli;
  margin: 0px 0px 1rem;
  font-size: 2.625rem;
  font-weight: 500;

}

._sendIcon{
  position: absolute;
  width: 25%;
  right: 10px;
  top: 15%;
  transform: scale(0);
}

._btcRecantgle{
  position: absolute;
  width: 90%;
  right: 25px;
  top: 46%;
  transform: scale(0);
}

._profile{
  position: absolute;
  width: 25%;
  left: 0;
  top: 67.5%;
  transform: scale(0);
}

._productext{
  opacity: 0;
  transform: translateY(30px);
}

._pixLeftDescription {
  // background-color:red;
  width: 55%;
  margin-top: 5rem;

    & h5 {
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-family: $muli;
      font-weight: 800;
      font-size: 1.1rem;
      text-align: center;
   }
}


._productParentTwo {
  @include parent;
}

/* ._phoneContainerTwo {
  @include phone;
  margin-top: -14rem;
} */

._pixelCenter {
  // background-color: blue;
  position: absolute;
  transform: translate(-50%, 150%);
  right: 45%;
  width: 60px;
  height: 60px;
}

._checkCenter {
  display: flex;
  justify-content: center;
}

._paragraphProduct {
  margin: 1rem 0px 1rem;
  text-align: left;
  font-weight: 800;
  font-family: $muli;
  font-size: 1.2rem;
  transition: 1s;
  color: $newGray;
  opacity: 0;
  transform: translateY(10px);
}

._productBtnBlue{
  padding: 0.6rem;
  width: 11rem;
  height: 2.8rem;
  background: $lightBLue;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: "Muli", sans-serif;
  font-size: 0.9rem;
  font-weight: 800;
  display: flex;
  margin-top: 20px;
  transform: translateY(30px);
  opacity: 0;
}

._buttonIcon{
  color: $white;
  font-size: 1.2rem;
  position: relative;
  top: 2px;
  left: 5px;
}

@include responsive(extraLarge) {
 /*  ._phoneContainerTwo {
    margin-top: 0px;
  } */

}


._cubeContainer{
  position: relative;
  left: 70%;
  width: 400px;
  height: 250px;
  opacity: 0;
  transform: translateY(30px);
}

._separatorProduct{
  margin-top: 10px;
   margin-bottom: 10px;
    z-index: 1;
    width: 0%;
}


@include responsive(extraLarge) {
  ._phoneContainer{
    width: 70%;
  }

  ._cubeContainer{
    left: 30%;
    width: 400px;
  }
  
}



@include responsive(large) {
  ._phoneContainer{
    width: 80%;
  }

  ._cubeContainer{
    left: 50%;
    width: 300px;
  }
  ._paragraphProduct{
    font-size: 1.1rem ;
  }

 
}

 @include responsive(medium) {

  ._productLeft{
    width: 100%;
  }
  ._productRight{
    width: 100%;
    margin-top: 5%;
  }

  ._cubeContainer{
    display: none;
  }
  ._paragraphProduct{
    text-align: center;
  }
  ._wallPix{
    text-align: center;
  }
  ._productBtnBlue{
    margin-left: auto;
    margin-right: auto;
  }

  ._phoneContainer{
    width: 50%;
    margin-right: auto;
  }

  ._productParent{
    padding-top: 0;
  }

} 


