@import '../../assets/styles/index.scss';

@mixin parent {
  // background-color: #212121;
  width: 100%;
  display: flex;
  justify-content: center;
}

@mixin phone {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  // background-color: green;
}

._productParent {
  @include parent;
  padding-top: 5rem;
}
._productGeneral {
  // background-color: blue;
  width: 85%;
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
}

._productLeft {
  // background-color: purple;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

._productRight {
  // background-color: orange;
  width: 50%;
}

._phoneContainer {
  @include phone;
}

._centerSquare {
  display: flex;
  justify-content: center;
}

._wallPix {
  color: $appleGreen;
  text-align: left;
  font-family: $muli;
  margin: 0px 0px 1rem;
  font-size: 1rem;
  font-weight: 800;
}

._pixLeftDescription {
  // background-color:red;
  width: 55%;
  margin-top: 9rem;

    & h5 {
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-family: $muli;
      font-weight: 800;
      font-size: 1.1rem;
      text-align: center;
   }
}


._productParentTwo {
  @include parent;
}

._phoneContainerTwo {
  @include phone;
  margin-top: -14rem;
}

._pixelCenter {
  // background-color: blue;
  position: absolute;
  transform: translate(-50%, 150%);
  right: 45%;
  width: 60px;
  height: 60px;
}

._checkCenter {
  display: flex;
  justify-content: center;
}

@include responsive(extraLarge) {
  ._phoneContainerTwo {
    margin-top: 0px;
  }
}

@include responsive(medium) {
  ._productGeneral {
    width: 100%;
    flex-direction: column;

  }

  ._productLeft {
    width: 100%;
  }

  ._productRight {
    width: 100%;
  }

  ._pixelCenter {
    display: none;
  }

  ._phoneContainerTwo {
    margin-top: 0px;
  }

  ._pixLeftDescription {
    margin-top: 0px;
  }

  ._productIcon {
    justify-content: center;
    display: flex;
  }

  ._productSkills {
    flex-direction: column;
    align-items:center;
    width: 100%;
  }

  ._skillItem {
    margin: 1rem 0;
    width: 40%;
  }

  ._parentSeparatorLine {
    width: 70%;
  }
}