@import '../../assets/styles/index.scss';

@mixin background($image) {
  height: 100vh;
/*   background-image: url('../../images/#{$image}.svg'); */
  background-size: cover;
  transition: 1s;
  -webkit-transition: 1s;
  background-position: center;
  display: flex;
  justify-content: center;
}

._imageBackgroundLight {
  @include background('banner-light');
  background-color: $white;
}

._imageBackgroundDarkBanner {
  @include background('banner-dark');
  background-color: $blackRussian;
}

._imageContainer {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

._imageContainerText {
  font-size: 1.3rem;
  font-weight: 300;
  font-family: $muli;
  text-align: center;
  margin-top: 5%;
  transform: translateY(40px);
}

._whiteTxt {
  color: $white;
  transition: 1s;
  -webkit-transition: 1s;
}

._blackTxt {
  color: $black;
  transition: 1s;
}

._whiteHeader{
  color: $white;
  font-size: 5.5rem;
  font-weight: 700;
  margin-top: 50%;
  text-align: center;
}




._aboutContainer{
  justify-content: center;
  align-items: center;
  margin-top: 30px;
 
}

._orange{
  margin-top: 20px;
  transform: translatey(10px);
  animation: MoveUpDown 1s alternate infinite;
}

._coins{
  transform: translatey(10px);
  animation: MoveUpDown 1s alternate infinite;
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin-top: 20px;
}

._separatorBanner{
  transform: scale(0);
  width: 120%;
}

._coin{
  height: 180px;
}

._darkCheck{
  margin-top: 10px;
}
._liine{
  transform: scale(0);
  width: '120%';
   margin-top: 10;
   margin-bottom: 10
}

@keyframes MoveUpDown {
  from { transform: translateY(0px)}
  to { transform:translateY(50 px)
}
}

@include responsive(extraLarge) {
  ._imageContainer{
    width: 70%;
  }

  ._imageContainerText{
    font-size: 1.5rem;
  }

  ._orangePix{
    width: 70%;
  }
  
}


@include responsive(large) {
  ._imageContainer{
    width: 80%;
  }

  ._imageContainerText{
    font-size: 1.2rem;
  }

  ._orange{
    width: 40%;
  }

  ._coins{
  width: 700px;
   }
 
}

@include responsive(medium) {
  ._whiteHeader{
    margin-top: 80%;
  }

  ._coins{
    display: none;
   }

 
}

