@import '../../assets/styles/index.scss';

@mixin background($image) {
  // height: 100vh;
/*   background-image: url('../../images/#{$image}.svg'); */
  background-size: cover;
  transition: 1s;
  -webkit-transition: 1s;
  background-position: center;
  display: flex;
  justify-content: center;
}

._imageBackgroundLight {
  @include background('banner-light');
  background-color: $white;
}

._imageBackgroundDarkBanner {
  @include background('banner-dark');
  background-color: $blackRussian;
}

._imageContainer {
  width: 100%;
}

._imageContainerText {
  font-size: 1.3rem;
  font-weight: 300;
  font-family: $muli;
  text-align: center;
  margin-top: 5%;
  transform: translateY(40px);
  opacity: 0;
}

._whiteTxt {
  color: $white;
  transition: 1s;
  -webkit-transition: 1s;
}

._blackTxt {
  color: $black;
  transition: 1s;
}

._whiteHeader{
  color: $white;
  font-size: 5.5rem;
  font-weight: 700;
  margin-top: 90%;
  text-align: center;
}

._headerAbotUs {
  margin-top: 6rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 35%;

  & h4 {
    font-size: 4rem;
    color: $white;
    text-align: center;
    font-weight: bold;
    font-family: $muli;
  }
}
._newParentText {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

._aboutContainer{
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

._orange{
  margin-top: 3rem;
  transform: translatey(10px);
  animation: MoveUpDown 1s alternate infinite;
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

._coins{
  transform: translateY(10px);
  animation: MoveUpDown 1s alternate infinite;
  display: flex;
  width: 35%;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: -3.125rem;
}

._superParentCoins {
  width: 100%;  
  display: flex;
  justify-content: center;
}

._separatorBanner{
  transform: scale(0);
  width: 100%;
}

._coin{
  width: 180px;
}

._darkCheck{
  // width: 180px;
  margin-top: 10px;
}


._liine{
  transform: scale(0);
  width: '120%';
   margin-top: 10;
   margin-bottom: 10
}

@keyframes MoveUpDown {
  from { transform: translateY(0px)}
  to { transform:translateY(50 px)
}
}

@include responsive(extraLarge) {
  ._imageContainer{
    width: 70%;
  }

  ._imageContainerText{
    font-size: 1.5rem;
  }

  ._orangePix{
    width: 70%;
  }

  ._coins{
    width: 50%;
   }


  ._headerAbotUs {
    width: 80%;
  }
  
}


@include responsive(large) {
  ._imageContainer{
    width: 80%;
  }

  ._headerAbotUs {
    width: 90%;
  }

  ._imageContainerText{
    font-size: 1.2rem;
  }

  ._orange{
    width: 40%;
  }

  ._coins{
    width: 50%;
   }

   ._whiteHeader{
    margin-top: 60%;
  }
 
}

@include responsive(medium) {
  ._whiteHeader{
    margin-top: 40%;
  }

  ._coins{
    display: none;
   }

   ._headerAbotUs {
    & h4 {
      font-size: 3.5rem;
    }
  }

 
}

