@import '../../assets/styles/index.scss';

@mixin btn($background, $padding, $flag, $borderColor, $color) {
  
  @if $flag == 'gradient' {
    background: linear-gradient(90deg, $background);
  } 
  @else {
    background: $background;
  }

  padding: $padding;
  width: 120px;
  border: solid 1.4px $borderColor;
  color: $color;
  border-radius: 5px;
  font-family: $muli;
  font-size: 0.8rem;

  &:focus {
    outline: none;
  }
}

._nav {
  background-color: $black;
}

._item {
  padding: 0 1rem;
  transition: all 0.6s;
  font-family: $muli;
  font-size: 0.8rem;

  & a {
    border-bottom: 2px solid $black;
    transition: all 0.6s;
  }

  & a:hover { 
    color: $white;
    border-bottom: 2px solid $appleGreen;
    transform: translateY(-1px);
    transition: all 0.6s;
  }
}

._logo {
  width: 5em;
}

._registerBtn { 
  @include btn($black, 0.5rem, 'not', $white, $white);
  transition: all 0.6s;

  &:hover {
    @include btn($white, 0.5rem, 'not', $white, $black);
    transition: all 0.6s;
  }

}

._loginBtn { 
  @include btn($blueGreenGradient, 0.6rem, 'gradient', $black, $white);
  transition: all 0.6s;

  &:hover {
    @include btn($white, 0.6rem, 'not', $black, $black);
    transition: all 0.6s;
  }

}

._toggle {
  &:focus {
    outline: none;
  }
}

