@import '../../assets/styles/index.scss';

._nav {
  background-color: $black;
}

._item {
  padding: 0 1rem;
  transition: all 0.6s;
  & a {
    color: $white;
    border-bottom: 2px solid $black;
    transition: all 0.6s;
  }

  & a:hover {
    // color: red;
    color: $white;
    border-bottom: 2px solid $appleGreen;
    transform: translateY(-2px);
    transition: all 0.6s;

  }
}