@import '../../assets/styles/index.scss';

@mixin title{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
  color: $lightBLue;
  transition: 1s;
}

@mixin textContent($color) {
    width: 42%;
    display: block;
    text-align: center;
    transition: 1s;
   
    & h5 {
       margin: 1rem 0;
       font-family: $muli;
       font-weight: 800;
       font-size: 1.1rem;
       color: $color;
       transition: 1s;
    }
}

@mixin paragraph {
  margin: 0px 0px 10px;
  text-align: left;
  font-family: $muli;
  font-size: 0.9rem;
  transition: 1s;
}


@mixin background ($image){
  background-image: url('../../assets/img/#{$image}.svg');
  width: 100%;
  background-size: cover;
  background-position: bottom;
  transition:all 1s;
  -webkit-transition:all 1s;
  padding-top: 3rem;
}
._aboutUsParent {
  @include background('about-us');
  transition: 1s;
  -webkit-transition: 1s;
}

._anotherclass {
  @include background('about-black');
  background-position: center;
} 

._titles {
  @include title;
}

._titlesDark {
  @include title;
  color: $appleGreen;
}

._titles-child {
  display: flex;
  width: 45%;
  justify-content: space-between;
  flex-direction: row;
}

._aboutText {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: $muli;
}

._number {
  position: absolute;
  right: -18px;
  top: -20px;
}

._textContent {
  @include textContent($black)
}

._textContentDark {
  @include textContent($white)
 }

._halfContent {
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

._pixTitle {
  color: $appleGreen;
  text-align: left;
  font-family: $muli;
  margin: 0px 0px 0px;
  font-size: 1rem;
  font-weight: 800;
}

._paragraph {
  @include paragraph;
}

._paragraphDark {
  @include paragraph;
  color: $white;
}

._divBlock {
  margin-top: 7.5rem;
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

._parentScroll {
  padding-top: 8rem;
  padding-bottom: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
}

@include responsive(large) {

  ._divBlock {
    margin-top: 5rem;
  }

  ._textContent, ._textContentDark{
    width: 100%;
  }

  ._titles-child {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  ._halfContent {
    width: 80%;
  }

  ._aboutText {
    font-size: 1.5rem;
  }

  ._number {
    position: relative;
    text-align: center;
  }

  ._parentScroll {
    padding-top: 8rem;
  }
  

}