@import '../../assets/styles/index.scss';

@mixin title{
  display: flex;
  justify-content: center;
  width: 100%;
  // margin-top: 0.5rem;
  color: $lightBLue;
  transition: 1s;
  -webkit-transition:1s;
  -moz-transition:1s;
  -o-transition:1s;
}


@mixin floating ($transformY, $time) {
  transform: translatey($transformY);
  animation: MoveUpDownCoins $time alternate infinite;
}

@mixin textContent($color) {
    width: 42%;
    display: block;
    text-align: center;
    transition: 1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    -o-transition:1s;
   
    & h5 {
       margin: 1rem 0;
       font-family: $muli;
       font-weight: 800;
       font-size: 1.1rem;
       color: $color;
       transition: 1s;
       -webkit-transition:1s;
       -moz-transition:1s;
       -o-transition:1s;
    }
}

@mixin paragraph {
  margin: 0px 0px 10px;
  text-align: left;
  font-family: $muli;
  font-size: 1rem;
  transition: 1s;
  -webkit-transition:1s;
  -moz-transition:1s;
  -o-transition:1s;
  color: $newGray;
}


@mixin background ($image){
  /* background-image: url('../../assets/img/#{$image}.svg'); */
  width: 100%;
  background-size: cover;
  background-position: bottom;
  transition:all 1s;
  -webkit-transition:all 1s;  
  -moz-transition:all 1s;
  -o-transition:all 1s;
}
._aboutUsParent {
  @include background('about-us');
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition:1s;
  -o-transition:1s;
}

._anotherclass {
  @include background('about-black');
  background-position: center;
  background-color: $blackRussian;
  padding-bottom: 4rem;
} 

._titles {
  @include title;
}

._titlesDark {
  @include title;
  color: $appleGreen;
}

._titles-child {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
}

._aboutText {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: $muli;
  text-align: center;
  color: $newBlue;
}

._aboutBox{
  background: $newBlack;
  width: 20%;
  height: 250px;
  border-color: $newBlue;
  box-shadow: -5px 5px 5px $newBlue;
  border-radius: 10px;
  padding: 0px 8px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  
}

._aboutTextDescription {
  font-size: 0.8rem;
  font-weight: 600;
  font-family: $muli;
 text-align: center;
 color: $white;
}

._number {
  position: absolute;
  right: -18px;
  top: -20px;
}

._textContent {
  @include textContent($black)
}

._textContentDark {
  @include textContent($white)
 }

._halfContent {
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

._pixTitle {
  color: $appleGreen;
  text-align: left;
  font-family: $muli;
  margin: 0px 0px 0px;
  font-size: 1rem;
  font-weight: 800;
}

._paragraph {
  @include paragraph;
}

._paragraphDark {
  @include paragraph;
  color: $white;
}

._divBlock {
  margin-top: 7.5rem;
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

._parentScroll {
  padding-top: 4rem;
  padding-bottom: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 68px;
  height: 71px;
}

@include responsive(large) {

  ._divBlock {
    margin-top: 5rem;
  }

  ._textContent, ._textContentDark{
    width: 100%;
  }

  ._titles-child {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  ._halfContent {
    width: 80%;
  }

  ._number {
    position: relative;
    text-align: center;
  }

  ._parentScroll {
    padding-top: 8rem;
  }

}


._floatingCoin{
  display: flex;
 @include floating (10px, 1s);
  opacity: 0;
  bottom: -30%;
  width: 10%;
}

._floatingCoinTwo{
  
  display: flex;
  @include floating (10px, 1s); 
  opacity: 0;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  bottom: -30%;
  margin-bottom: 30px;
}

._aboutFather{
  display: flex;
  justify-content: space-evenly;
  transform: translateY(30px);
  opacity: 0;
}

@keyframes MoveUpDownDiamond {
  from { transform: translateY(0px)}
  to { transform:translateY(50 px)}
}


@include responsive(extraLarge) {
  ._aboutBox{
    width: 25%;
  }
._floatingCoin{
  width: 20%;
}

._anotherclass{
  padding-top: 3rem;
}
  
}


@include responsive(large) {
  ._aboutBox{
    width: 25%;
  }
._floatingCoin{
 display: none;
}

._floatingCoinTwo{
  width: 50%;
 }
 
}


@include responsive(medium) {
  ._floatingCoin{
    display: none;
   }

   ._aboutFather{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    
   }
   ._aboutBox{
     width: 50%;
     margin-right: auto;
     margin-left: auto;
     padding: 0px 10px 0px;
   }

   ._floatingCoinTwo{
     display: none;
   }
 
}