 @import '../../assets/styles/index.scss';


 @mixin icon($color) {
    position: absolute;
    right: 15px;
    top: -30px;
    font-size: 1.2rem;
    color:$color;
    cursor: pointer;
 }

 ._main {
   background-color: $black;
   padding: 6rem 0;
 }

 ._leftSide {
   width: 80%;  
   
 }

 ._links {
   display: flex;
   flex-direction: row;
   color: $white;
   justify-content: space-between;
   margin-bottom: 1.6rem;
   width: 90%;
   

   p {
    font-family: $muli;
    font-weight: lighter;
    cursor: pointer;
   }
 }

 ._icons {
   width: 40%;
   display: flex;
   justify-content: space-between;
 }

 ._content {
   display: flex;
   flex-direction: row;
   margin-top: 2.2rem;
   align-content: center;

   & p {
     font-family: $muli;
     font-size: 0.8rem;
     color: $gray;
     align-self: flex-end;
   } 
 }

 ._divLogo {
  width: 70px;
 }

 ._suscribe {
   color: $appleGreen;
   font-size: 1.2rem;
   font-family: $muli;
 }

 ._rightSide {
  width: 50%;
 }

 ._emailText {
   color: $gray;
   font-family: $muli;
   font-size: 0.9rem;
   width: 60%;
 }

 ._newsletter {
   padding: 0.8rem;
   width: 100%;
   border-radius: 5px;
   border: none;
   font-family: $muli;
   font-size: 0.8rem;
   outline: none;
 }

 ._divIcon { 
   position: relative;
 }

 ._separator {
   width: 0.2px;
   height: 38px;
   background-color: $gray;
   margin-left: 12px;
   margin-right: 10px;
 }

 ._arrow {
   @include icon($gray);
 }

 ._arrowEnabled {
  @include icon(#999);
   pointer-events: none;
 }



 //RESPONSIVE 

 @include responsive(medium) {
  ._leftSide {
    width: 100%;
  }

  ._links {
    justify-content: space-evenly;
    width: 100%;
  }

  ._icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  ._suscribe, ._emailText {
    text-align: center;
    width: 100%;
  }

 }

 .lds-ring {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -1vh;
  top: -1vh;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 8px;
  border: 8px solid #304352;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #304352 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
