@import '../../assets/styles/index.scss';


@mixin backgroundLogin($image) {
  height: 100vh;
/*   background-image: url('../../images/#{$image}.svg'); */
  background-size: cover;
  transition: 1s;
  background-position: center;
  display: flex;
  justify-content: center;
}

._imageLoginLight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

/* ._imageBackgroundDark {
  @include backgroundLogin('banner-dark');
  background-color: $blackRussian;
} */

._loginContainer {
position: relative;
}

._blackHeader{
  color: $newBlack;
  font-size: 4rem;
  font-weight: 400;
  margin-top: 10%;
  text-align: right;
  z-index: 1;
  // transform: translateY(50px);
}

._logoSmall{
  width: 14.375rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  // transform: translateY(50px);
}

@mixin btnLogin($background, $padding, $flag, $borderColor, $color) {
  
  @if $flag == 'gradient' {
    background: linear-gradient(90deg, $background);
  } 
  @else {
    background: $background;
  }

  padding: $padding;
  width: 10.625rem;
  height: 2.8rem;
  border: solid 3px $borderColor;
  color: $color;
  border-radius: 5px;
  font-family: $muli;
  font-size: 0.8rem;

  &:focus {
    outline: none;
  }
}

@mixin btnRegister($background, $padding, $flag, $color) {
  
  @if $flag == 'gradient' {
    background: linear-gradient(90deg, $background);
  } 
  @else {
    background: $background;
  }

  padding: $padding;
  width: 10.625rem;
  height: 2.8rem;
  color: $color;
  border-radius: 5px;
  border: none;
  font-family: $muli;
  font-size: 0.8rem;

  &:focus {
    outline: none;
  }
}

@mixin buttonResponsive {
  @include responsive(large) {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  @include responsive(medium) {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

._buttonContainerLogin{
  margin-top: 60px;
  z-index: 1;
  width: 80%;
  display: flex;
  justify-content: center;
}

._textSlider {
  width: 200px;
  margin: auto;
  overflow: visible;
  position: relative;
  margin-left: 0.7rem;
  padding-bottom: 18px;
}

._textSlider h4 {
  position: absolute;
  list-style: none;
  font-size: 4rem;
}

._parentTitlehey {
  z-index: 1;
  display: flex;
  justify-content: center;
  // background-color: blue;
}
._registerBtnBlue{ 
  @include btnRegister($blueGreenGradient, 0.6rem, 'gradient', $white);
  @include buttonResponsive;
  opacity: 0;
  transform: translateY(30px);
  // &:hover {
  //   @include btnRegister($black, 0.6rem, 'not', $white);
  //   transition: all 0.6s;
  // }

}

._loginBtnBlack { 
  @include btnLogin($white, 0.5rem, 'not', $lightBLue, $lightBLue);
  @include buttonResponsive;

  margin-right: 4rem;
  opacity: 0;
  transform: translateY(30px);
  // &:hover {
  //   @include btnLogin($white, 0.5rem, 'not', $black, $black);
  //   transition: all 0.6s;
  // }

}
._langFooter{
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transform: translateY(30px);
}

._footerScrollLogin {
width: '55%';
opacity: 0;
transform: translateY(30px);
position: absolute;
bottom: 0; 
z-index: 1;
}

._scrollDimensionLogin {
  width:68px;
  height: 71px;
  z-index: 1;
  margin-top: 2rem;
}

._footerLangLogin {
 width: 10%;
 z-index: 1;
 display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  right: 0;
  opacity: 0;
  transform: translateY(30px);
  
}

._separatorLogin{
  width: 60%; 
  margin-top: 10px;
   margin-bottom: 10px;
    z-index: 1;
    transform: scale(0);
}



  ._itemUno {
    animation: cycle 8s linear infinite;
    color: $textOrange;
    // transform: translateY(50px);
  }

  ._itemDos {
    animation: cycle2 8s linear infinite;
    color: $lightBLue;
  }

  ._itemThree {
    animation: cycle3 8s linear infinite;
    color: $textPurple;
  }
  ._itemFour {
    animation: cycle4 8s linear infinite;
    color: $appleGreen;
  }

  @keyframes cycle {
    0% {
      top: 0px;
    }
    4% {
      top: 0px;
    }
    16% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    20% {
      top: -80px;
      opacity: 0;
      z-index: 0;
    }
    21% {
      top: 80px;
      opacity: 0;
      z-index: -1;
    }
    50% {
      top: 80px;
      opacity: 0;
      z-index: -1;
    }
    92% {
      top: 80px;
      opacity: 0;
      z-index: 0;
    }
    96% {
      top: -80px;
      opacity: 0;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes cycle2 {
    0% {
      top: 80px;
      opacity: 0;
    }
    16% {
      top: 80px;
      opacity: 0;
    }
    20% {
      top: 0px;
      opacity: 1;
    }
    24% {
      top: 0px;
      opacity: 1;
    }
    36% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    40% {
      top: -80px;
      opacity: 0;
      z-index: 0;
    }
    41% {
      top: 50;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: 80px;
      opacity: 0;
      z-index: -1;
    }
  }

  @keyframes cycle3 {
    0% {
      top: 80px;
      opacity: 0;
    }
    36% {
      top: 80px;
      opacity: 0;
    }
    40% {
      top: 0px;
      opacity: 1;
    }
    44% {
      top: 0px;
      opacity: 1;
    }
    56% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    60% {
      top: -80px;
      opacity: 0;
      z-index: 0;
    }
    61% {
      top: 80px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: 80px;
      opacity: 0;
      z-index: -1;
    }
  }

  @keyframes cycle4 {
    0% {
      top: 80px;
      opacity: 0;
    }
    56% {
      top: 80px;
      opacity: 0;
    }
    60% {
      top: 0px;
      opacity: 1;
    }
    64% {
      top: 0px;
      opacity: 1;
    }
    76% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
      top: -80px;
      opacity: 0;
      z-index: 0;
    }
    81% {
      top: 80px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: 0px;
      opacity: 0;
      z-index: -1;
    }
  }

  @include responsive(extralarge) {

  ._separatorLogin{
    width: 80%;
  }

  ._buttonContainerLogin{
    width: 100%;
    display: flex;

  }

  ._footerLangLogin{
    width: 15%;
  }

  ._blackHeader{
    font-size: 3.5rem;
  }

  ._textSlider h4 {
    font-size: 2rem;
  }
  
}

@include responsive(large) {

  ._separatorLogin{
    width: 80%;
  }

  ._buttonContainerLogin{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

  ._footerLangLogin{
    width: 15%;
  }

  ._blackHeader{
    font-size: 3.3rem;
  }

  ._textSlider {
    margin-bottom: 54px;
  }
  
  ._textSlider h4 {
    font-size: 3.3rem;
  }

}

  @include responsive(medium) {

    ._blackHeader{
      font-size: 2.4rem;
      margin-top: 1%;
      text-align: center;
    }

    ._textSlider {
      display: none;
    }

    ._buttonContainerLogin{
      width: 100%;
      justify-content: space-around
    }
    ._footerLangLogin{
      width: 80px;
    }
  }
