$black:               #0D1319;
$lightBLue:           #33A3DC;
$appleGreen:          #57D6AF;
$orange:              #FF8008;
$white:               #FFFFFF;

$orangeGradient:      #EBB831, #F17807;
$darkPurpleGradient:  #304352, #8787B9;
$blueGreenGradient:   #57D6AF, #33A3DC;
$blueGradient:        #037BA4, #00A0C2;
$greenGradient:       #3DA740, #C4CB52;
$blueGreenGrdient:    #28C293, #2C93C8;