$black:               #0D1319;
$lightBLue:           #33A3DC;
$appleGreen:          #57D6AF;
$orange:              #FF8008;
$white:               #FFFFFF;
$blackRussian:        #00001F;
$gray:                #858585;
$lightGray:           #AEAEAE;
$softGray:            #e4e4e4;
$mediumGray:          #ccc;
$arsenic:             #304352;
$whiteSmoke:          #F6F6F6;    
$blackOnboard:        #01012D;      
$darkGray:            #707070;

$textOrange:          #FF9C3E;
$textPurple:          #8787B9;
$textGreen:           #3DA740;


$newBlack:            #00021C;
$newGray:             #808D98;
$newBlue:             #0083B0;


$orangeGradient:      #EBB831, #F17807;
$darkPurpleGradient:  #304352, #8787B9;
$blueGreenGradient:   #33A3DC, #57D6AF;
$blueGradient:        #037BA4, #00A0C2;
$greenGradient:       #3DA740, #C4CB52;
$greenBlueGradient:   #28C293, #2C93C8;