@import '../../assets/styles/index.scss';

._skillsParent {
  display: flex;
  justify-content: center;
}

._productSkills {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
}

._productIcon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  width:  3rem;
  height: 3rem;
}

._skillsDescription {
  font-family: $muli;
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
}

._skillItem {
  width: 25%;
}

._skillsParent {
  margin-top: 5rem;
}

._parentSeparatorLine {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  // justify-content: center;
  width: 30%;
}

._parentSeparatorLine {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  // justify-content: center;
  width: 30%;
}