@import '../../assets/styles/index.scss';

// MIXINS
@mixin flex-axis($justify) {
  display: flex;
  justify-content: $justify;
}

@mixin flex-align($justify) {
  @include flex-axis($justify);
  align-items: center;
  flex-direction: column;
  
}

@mixin overlap {
  z-index: 999;
}

@mixin width($size) {
  width: $size;
}

@mixin height($size) {
  height: $size;
}

@mixin dimensions($width, $height) {
  @include width($width);
  @include height($height);
}

@mixin boldTexts($color, $fontSize) {
  font-family: $muli;
  font-weight: 900;
  color: $color;
  text-align: center;
  font-size: $fontSize;
}

@mixin floating ($transformY, $time) {
  transform: translatey($transformY);
  animation: MoveUpDownCoins $time alternate infinite;
}

// CLASS
._bannerContainer {
  @include flex-axis(center);
  align-items: center;
  // background-color: red;
  
}

._bannerTexts {
  @include flex-align(flex-start);
}

._childrenText {
  @include boldTexts($lightBLue, 1.5rem);
  @include width(90%);
  margin-bottom: 3rem;

}

._childrenTitle {
  @include boldTexts($arsenic, 2.5rem);
  z-index: 0;
  margin-bottom: 5%;
opacity: 0;
}

._bannerCards {
  @include height(40%);
  @include flex-axis(center);
  align-items: center;
  margin-bottom: 5%;
  opacity:0;
  transform: translateY(30px);
}

._bannerButton {
  @include height(5%);
  @include flex-align(center);
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  opacity:0;
  transform: translateY(30px);
}

._buttonText {
  @include boldTexts($lightBLue, 1rem);
  margin-top: 5%;
  width: 80%;
}

._buttonGradient {
  // @include boldTexts($white, 12px);
  padding: 10px 50px 10px 50px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, $blueGreenGradient);
  opacity:0;
  transform: translateY(30px);
  font-family: $muli;
  color: $white;
  font-size: 12px;
}

._bannerFooter {
  @include dimensions(100%, 10vh);
}

._footerElements {
  @include height(50%);
  display: flex;
}

._footerNetwork {
  @include width(22.5%);
  @include flex-axis(center);
  opacity: 0;
  transform: translateY(30px);
}

._iosInfo {
  @include width(100px);
  @include overlap;
}

._androidInfo {
  margin-left: 1rem;
  @include width(100px);
  @include overlap;
}

._footerScroll {
  @include width(55%);
  @include flex-axis(center);
 /*  position: absolute;
  bottom: 0; */
}

._scrollDimension {
  @include dimensions(68px, 71px);
  @include overlap;
  margin-top: 2rem;
  opacity: 0;
  transform: translateY(30px);
}

._footerLang {
  @include width(10%);
  @include overlap;
  @include flex-axis(center);
  position: absolute;
  bottom: 15px;
  right: 0;
}

@include responsive(large) {
 ._childrenText {
  font-size: 1.2rem;
 }

 ._childrenTitle {
  font-size: 1.2rem;
 }
}

@include responsive(small) {
  ._childrenText {
    font-size: 1rem;
   }
  
   ._childrenTitle {
    font-size: 1.1rem;
   }


  ._bannerFooter {
    height: 15vh;
  }

  ._iosInfo {
    display: none;
  }

  ._androidInfo {
    display: none;
  }

  ._footerElements {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  ._scrollDimension {
    margin: 0px;
  }
}

@include responsive(extrasmall) {
  ._childrenText {
    font-size: 0.8rem;
  }

  ._childrenTitle {
    display: none;
  }

  ._buttonText {
    display: none;
  }

  ._bannerCards {
    height: 45%;
  }
}

._macBox{
  width: 90%;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
}

.mac{
  position: relative;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

._contenedor{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  overflow: hidden;
  height: 83%;
}

._giantCube{
  @include floating (5px, 1.1s);
  position: absolute;
  bottom: 10%;
  right: -30px;
  opacity: 0;
}

._mediumDiamond{
  @include floating (5px, 1s);
  position: absolute;
  bottom: 35%;
  right: 50px;
  opacity: 0;
}

._minimunCube{
  position: absolute;
  bottom: 50%;
  opacity: 0;
  right: -10px;
  @include floating (5px, 1s);
}



@include responsive(large) {
  ._bannerButton{
    height: 30%;
    width: 100%;
  }

  ._mediumDiamond {
   display: none;
  }

  ._giantCube {
    display: none;
  }

  ._minimunCube {
    display: none;
  }

}

@include responsive(extraLarge) {
._contenedor{
  width: 85%;
}

.mac{
  width: 100%;
}

}

@include responsive(medium) {
  ._bannerButton{
    display: none;
  }
  ._bannerTexts{
    display: none;
  }
  ._contenedor{
    top: 60%;
  }
  ._childrenTitle{
    font-size: 1.6rem;
  }

  ._bannerCards{
    margin-top: 8%;
  }
  
  }

  @include responsive(small) {
   
  
    .mac{
      display: none;
    }
    
    }
  





