@import '../../assets/styles/index.scss';

// MIXINS
@mixin flex-axis($justify) {
  display: flex;
  justify-content: $justify;
}

@mixin flex-align($justify) {
  @include flex-axis($justify);
  align-items: center;
  flex-direction: column;
  
}

@mixin overlap {
  z-index: 999;
}

@mixin width($size) {
  width: $size;
}

@mixin height($size) {
  height: $size;
}

@mixin dimensions($width, $height) {
  @include width($width);
  @include height($height);
}

@mixin boldTexts($color, $fontSize) {
  font-family: $muli;
  font-weight: 900;
  color: $color;
  text-align: center;
  font-size: $fontSize;
}


@mixin backgroundBanner($image) {
  height: 100vh;
  background-image: url('../../images/#{$image}.svg');
  background-size: cover;
  transition: 1s;
  background-position: center;
  display: flex;
  justify-content: center;
}


// CLASS
._bannerContainer {
  @include dimensions(100%, 85vh);
  @include flex-axis(center);
  @include backgroundBanner('banner-light');
}

._bannerDesc {
  @include overlap;
  @include dimensions(55%, 100%);
}

._bannerTexts {
  @include height(45%);
  @include flex-align(flex-end);
}

._childrenText {
  @include boldTexts($lightBLue, 1.5rem);
  @include width(90%);
  margin-bottom: 3rem;

}

._childrenTitle {
  @include boldTexts($arsenic, 2.5rem);
  z-index: 0;
}

._bannerCards {
  @include height(40%);
  @include flex-axis(center);
  align-items: center;
  z-index: 0;
}

._bannerButton {
  @include height(5%);
  @include flex-align(center);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

._buttonText {
  @include boldTexts($lightBLue, 1rem);
  margin-top: 3%
}

._buttonGradient {
  @include boldTexts($white, 12px);
  padding: 10px 50px 10px 50px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, $blueGreenGradient);
}

._bannerFooter {
  @include dimensions(100%, 10vh);
}

._footerElements {
  @include height(50%);
  display: flex;
}

._footerNetwork {
  @include width(22.5%);
  @include flex-axis(center);
}

._iosInfo {
  @include width(100px);
  @include overlap;
}

._androidInfo {
  margin-left: 1rem;
  @include width(100px);
  @include overlap;
}

._footerScroll {
  @include width(55%);
  @include flex-axis(center);
  position: absolute;
  bottom: 0;
}

._scrollDimension {
  @include dimensions(68px, 71px);
  @include overlap;
  margin-top: 2rem;
}

._footerLang {
  @include width(10%);
  @include overlap;
  @include flex-axis(center);
  position: absolute;
  bottom: 15px;
  right: 0;
}

@include responsive(large) {
 ._childrenText {
  font-size: 1.2rem;
 }

 ._childrenTitle {
  font-size: 1.2rem;
 }
}

@include responsive(small) {
  ._childrenText {
    font-size: 1rem;
   }
  
   ._childrenTitle {
    font-size: 1.1rem;
   }

  ._bannerContainer {
 
    width: 100%;
    display: flex;
    justify-content: center;
  }

  ._bannerFooter {
    height: 15vh;
  }

  ._iosInfo {
    display: none;
  }

  ._androidInfo {
    display: none;
  }

  ._footerElements {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  ._scrollDimension {
    margin: 0px;
  }
}

@include responsive(extrasmall) {
  ._childrenText {
    font-size: 0.8rem;
  }

  ._childrenTitle {
    display: none;
  }

  ._buttonText {
    display: none;
  }

  ._bannerCards {
    height: 45%;
  }
}

._macBox{
  position: relative;
  width: 185%;
  top: 190%;
}


