@import '../../assets/styles/index.scss';

._bannerContainer {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

._bannerDesc {
  z-index: 999;
  height: 100%;
  width: 55%;
}

._bannerTexts {
  height: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

._childrenText {
  font-family: $muli;
  font-weight: 800;
  color: #33A3DC;
  text-align: center;
  font-size: 1.7rem;
  width: 90%;
}

._childrenTitle {
  font-family: $muli;
  font-weight: 800;
  color: #304352;
  text-align: center;
  font-size: 3rem;
}

._bannerCards {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

._bannerButton {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

._buttonText {
  color: #33A3DC;
  font-family: $muli;
  font-weight: 800;
  font-size: 1rem;
}

._buttonGradient {
  color: #fff;
  font-family: $muli;
  font-weight: 800;
  font-size: 12px;
  padding: 10px 50px 10px 50px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to left, $greenBlueGradient);
}

._bannerFooter {
  background-color: blue;
  height: 10vh;
  width: 100%;
}
